html,
body,
main,
section {
    height: 100%;
}

main {
    position: absolute;
    width: 100%;
}

body {
    font-family: medium-content-serif-font, Georgia, Cambria, times new roman, Times, serif;
}

p {
    --balloon-color: rgba(16, 16, 16, 0.95);
    --balloon-font-size: 12px;
    --balloon-move: 4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    box-sizing: inherit;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    color: #292929;
    word-break: break-word;
    letter-spacing: -.003em;
    margin-bottom: -.46em;
    font-size: 21px;
    margin-top: 2em;
    line-height: 32px
}

.add-button-home {
    position: relative;
    bottom: 0px;
    display: none;
}

.show-synopsis {
    max-height: 200px;
}